body{
    font-family: Arial, sans-serif;
    
}


button{
    background-color: #937da3;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    color: white;
    font-size: large;
}

button:hover{
    background-color: #896784;
    color: thistle;
    border-radius: 20px;
}

.btn-tab.active {
    font-weight: bold;
    border-bottom: 2px solid #333;
    border-color: white;
    color: white;
}

.btn-tab{
    color: #424242;
}
.tabContent{

    padding: 20px;
    border: 1px solid #ccc;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: thistle;

}
.tabContent {
    margin-top: 20px;
   
}

.tab {
    display: none;
}

.tab.active {
    display: block;
}


img{
    border-radius: 30px;
}

.tabs{
    text-align: center;
    margin: 20px;
    padding: 10px;
    margin-top: 0;
    align-items: center;
    border-radius: 30px;
    margin-left: 300px;
    margin-right: 300px;
    background-color: #937da3;
    color: white;
}

.tabContent p{
    font-size: 20px;
    color: #161616;
}

.tabContent h1{
    color: white;
    font-size: 40px;
}